---
interface Props {
    titulo: string;
    descripcion: string;
    fecha: string;
    link: string;
    img: string;
    tecnologias: Array<{
        name: string;
        img: string;
    }>;
}

const {titulo, descripcion, fecha, link, img, tecnologias} = Astro.props;
import Skill from "./Skill.astro";
---
<div class="card">
    <a href={link} target="_blank"><img src={img} alt="Imagen del proyecto de Lista Navideña" /></a>
    <h3>{titulo}</h3>
    <p style="color: rgb(192, 192, 192);">{descripcion}</p>
    <p>{fecha}</p>
    <div class="tecnologias">
        {
            tecnologias.map((tecnologia) => (
                <Skill name={tecnologia.name} img={tecnologia.img} />
            ))
        }
    </div>
</div>


<style>
    @media (max-width: 500px) {
        .card{
            flex: 0 0 100%;
        }
    }

    .card{
        flex: 0 0 21em;
        border-radius: .5em;
        align-content: center;

        scroll-snap-align: start;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;  
    }

    .card img{
        aspect-ratio: 16 / 9;
        width: 100%;
        border-radius: .5em;
        object-fit: cover;
    }

    h3, p{
        margin: 0;
        padding: 0 2%;
    }

    .tecnologias{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        width: 100%;
    }
    
</style>